a {
  text-decoration: none;
}

.hover-hand {
  cursor: pointer;
}

.hide-content {
  overflow: hidden;
}

hr.split-line {
  width:88.88%;
  margin: 90px auto;
  background-color: $blue;
  opacity: .15;
}