@charset 'UTF-8';

$white: #ffffff;
$blue: #121950;
$red: #FF2004;
$primary-orange: #FF4D37;
$cream: #FFF1ED;

// $sm:;
$md-max: 767px;
$md-min: 768px;
$lg-max:1023px;
$lg-min:1024px;
$xl-max: 1199px;
$xl-min: 1200px;


$f-pn: 'Proxima Nova';
$f-ac: 'Argent CF';
$f-mn: 'Maison Neue';
$f-am: 'Arimo';
$f-gsd: 'GT Super Display';