footer {
  background-color: $blue;
  display: flex;
  @include flex-center;
  padding: 98px 0 96px 0;
  .container {
    width: 88.8%;
  }
  p.social {
    text-align: center;
  }

  a.icon {
    display: inline-block;
    width: 20px;
    height: 21px;
    margin: 0 8px;
    &.icon-facebook {
      width: 11px;
      height: 21px;
      margin: 0 6px;
    }
    &.icon-twitter {
      width: 21px;
      height: 17px;
    }
    &:hover {
      &::before {
        @include animate(color);
        color: $red
      }
    }
  }
  .split-line {
    width: 100%;
    background-color: $cream;
    height: 1px;
    margin: 30px 0;
  }

  .footer-text {
    font-family: $f-pn;
    color: $cream;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media screen and (max-width: $lg-max) {
      justify-content: center;
    }
    .left-text {
      font-size: 12px;
      width: 27.5%;
      @media screen and (max-width: $lg-max) {
        width: 100%;
        text-align: center;
        line-height: 18px;
        order: 2;
      }
    }
    .about {
      font-size: 16px;
      line-height: 20px;
      width: 45%;
      @media screen and (max-width: $xl-max) {
        font-size: 14px;
        width: 48%;
      }
      @media screen and (max-width: $lg-max) {
        font-size: 16px;
        width: 100%;
        order: 1;
      }
      @media screen and (max-width: $md-max) {
        font-size: 14px;
      }
      text-align: center;
      a {
        color: $cream;
        margin: 0 5px;
        @include animate(color);
        &:hover {
          color: $primary-orange;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .placeholder {
        width: 27.5%;
      }
    }
  }
}

