@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-Regular.eot');
    src: local('ArgentCF-Regular'),
        url('ArgentCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-Regular.woff2') format('woff2'),
        url('ArgentCF-Regular.woff') format('woff'),
        url('ArgentCF-Regular.ttf') format('truetype'),
        url('ArgentCF-Regular.svg#ArgentCF-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argent CF';
    src: url('ArgentCF-RegularItalic.eot');
    src: local('ArgentCF-RegularItalic'),
        url('ArgentCF-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('ArgentCF-RegularItalic.woff2') format('woff2'),
        url('ArgentCF-RegularItalic.woff') format('woff'),
        url('ArgentCF-RegularItalic.ttf') format('truetype'),
        url('ArgentCF-RegularItalic.svg#ArgentCF-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Regular.eot');
    src: local('ProximaNova-Regular'),
        url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff'),
        url('ProximaNova-Regular.ttf') format('truetype'),
        url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Super Display';
    src: url('GTSuperDisplay-Regular.eot');
    src: local('GT Super Display Regular'), local('GTSuperDisplay-Regular'),
        url('GTSuperDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('GTSuperDisplay-Regular.woff2') format('woff2'),
        url('GTSuperDisplay-Regular.woff') format('woff'),
        url('GTSuperDisplay-Regular.ttf') format('truetype'),
        url('GTSuperDisplay-Regular.svg#GTSuperDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('MaisonNeue-Medium.eot');
    src: local('MaisonNeue-Medium'),
        url('MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Medium.woff2') format('woff2'),
        url('MaisonNeue-Medium.woff') format('woff'),
        url('MaisonNeue-Medium.ttf') format('truetype'),
        url('MaisonNeue-Medium.svg#MaisonNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('Arimo-Bold.eot');
    src: local('Arimo Bold'), local('Arimo-Bold'),
        url('Arimo-Bold.eot?#iefix') format('embedded-opentype'),
        url('Arimo-Bold.woff2') format('woff2'),
        url('Arimo-Bold.woff') format('woff'),
        url('Arimo-Bold.ttf') format('truetype'),
        url('Arimo-Bold.svg#Arimo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

