doctype html
- var title = "Homepage"
include components/head.pug

body 
    include components/header.pug
    div.content
        include contents/banner.pug
    include components/footer.pug
    include components/script.pug
