doctype html
html 
    - var title = "Tech"
    include components/head.pug

    body 
        include components/header.pug
        include contents/banner.pug
        include contents/heading.pug
        include contents/gallery.pug
        hr.split-line
        include contents/quote.pug
        include components/footer.pug
        include components/script.pug
