section.banner 
    div.container
        ul
            li: img(src="https://picsum.photos/seed/picsum/800/400")
            li: img(src="https://picsum.photos/seed/picsum/800/400")
            li: img(src="https://picsum.photos/seed/picsum/800/400")
            li: img(src="https://picsum.photos/seed/picsum/800/400")
            li: img(src="https://picsum.photos/seed/picsum/800/400")
            li.wow.animate__bounceInUp: img(src="https://picsum.photos/seed/picsum/800/400")
