section.sub-heading.hiden-content(style="background-image:url('./images/bg_2x.png')")
  div.left-part.wow.animate__fadeInUp.animate__animated
    p.subtitle A SUBTITLE
    h2.heading-text This is a sub heading
    p.summary A cool summary describing our mission, purpose, community.
  div.right-part.wow.animate__fadeInUp.animate__animated
    div.img-frame
        img(src="./images/image-01_2x.jpg" alt="image-01.jpg")
        img(src="./images/image-02_2x.jpg" alt="image-02.jpg")
