section.sub-heading.hide-content(style="background-image:url('./images/bg_2x.png')")
  div.container.wow.animate__fadeInUp.animate__animated
    div.left-part
      p.subtitle A SUBTITLE
      h2.heading-text This is a sub heading
      p.summary A cool summary describing our mission, purpose, community.
    div.right-part
      div.img-frame
          img(src="./images/image-01_2x.jpg" alt="image-01.jpg")
          img(src="./images/image-02_2x.jpg" alt="image-02.jpg")
