section.quote
  div.container
    p: span.icon-quote
    blockquote.text I thought it would be a great purchase to wear for my next event, now I wear it every second day!
    div.user-avatar
      img(src="./images/quote-01_2x.png" alt="Carrie Tate")
      span.user-info Carrie Tate, London, England
  