section.banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  .swiper {
    width: 100%;
    position: relative;
    font-size: 0; //  temp
  }
  .swiper-item {
    display: inline-block;
    width: 25%;
    height: 468px;
    overflow: hidden;
    @media screen and (min-width:$md-min) and (max-width: $lg-max) {
      height: 400px;
    }
    @media screen and(max-width: $md-max) {
      position: relative;
      height: 350px;
    }
    .heading-text {
      margin-top: 118px;
      margin-left: 5.83%;
      @media screen and (min-width:$md-min) and (max-width: $lg-max) {
        margin-top: 88px;
        margin-left: 8%;
      }
      @media screen and(max-width: $md-max) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        margin-top: -10px;
      }
      @media screen and (max-width:$sm-max){
        width: 80%;
      }
      .text{
        font-family: $f-ac;
        width: 500px;
        font-size: 64px;
        line-height: 64px;
        color: $white;
        @media screen and(max-width: $md-max) {
          font-size: 56px;
          line-height: 56px;
          width: 400px;
        }
        @media screen and (max-width:$sm-max){
          width: 100%;
          font-size: 50px;
          line-height: 50px;
        }
      }
    }
    .action {
      font-family: $f-mn;
      font-weight: 100;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 32px;
      background: $blue;
      color: $white;
      border-radius: 40px;
      text-align: center;
      display: inline-block;
      margin-top: 50px;
      @include bg-hover;
      @media screen and (min-width:$md-min) and (max-width: $lg-max) {
        margin-top: 44px;
      }
      @media screen and(max-width: $md-max) {
        margin-top:30px;
      }
      @media screen and(max-width: $sm-max) {
        margin-top:40px;
      }
      &:hover {
        background-color: $red;
      }
    }
  }

  .slick-dots {
    bottom: 19%;
    left: 5.83%;
    position: absolute;
    margin-top: 32px;
    z-index: 10;
    @media screen and (min-width:$md-min) and (max-width: $lg-max) {
      bottom: 16%;
      left: 8%;
    }
    @media screen and(max-width: $md-max) {
      margin-top:30px;
      bottom: 15%;
      left: 50%;
      width: 400px;
      transform: translateX(-50%);
    }
    @media screen and(max-width: $sm-max) {
      // margin-top:30px;
      // bottom: 15%;
      // left: 50%;
      width: 80%;
    }
  }
  .slick-dots  li{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid $white;
    border-radius: 6px;
    margin-right: 8px;
    cursor: pointer;
    button {
      display: none;
    }
    &:hover, &.slick-active {
      background-color: $white;
    }
  }
}
