
section.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:88.88%;
  margin: 90px auto 0 auto;
  @media screen and (max-width:$md-max) {
    width:88.88%;
    max-width: 480px;
    margin: 50px auto 0 auto;
  }
  
  .gallery-headline {
    font-family: Argent CF;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #121950;
    width: 100%;
    @media screen and (max-width:$md-max) {
      font-size: 30px;
      line-height: 36px;
    }
  }
  
  .gallery-box {
    width: 100%;
    max-width: 1600px;
    display: flex;
    margin-top: 64px;
    justify-content: space-between;
    @media screen and (max-width:$md-max) {
      margin-top: 30px;
      flex-wrap: wrap;
    }
    
  }
  
  .gallery-item {
    width: 32%;
    overflow: hidden;
    @media screen and (max-width:$md-max) {
      width: 100%;
      margin-top: 20px;
    }
    .img-wrapper {
      display: block;
      width: 100%;
      overflow: hidden;
    }
    img {
      width: 100%;
      @include animate(transform, 300ms);
      &:hover {
        transform: scale(1.2);
      }
    }
    p {
      text-align: center;
      color: $blue;
    }
    .product-name {
      margin-top: 24px;
      font-family: $f-gsd;
      font-size: 20px;
      line-height: 24px;
      text-decoration-line: underline;
      a {
        color: $blue;
        @include animate(color);
        &:hover {
          color: $primary-orange;
        }
      }
      @media screen and (max-width:$md-max) {
        margin-top: 12px;
        font-size: 20px;
        line-height: 24px;
      }
    }
    .product-summary {
      font-family: $f-pn;
      font-size: 16px;
      line-height: 24px;
      @media screen and (max-width:$md-max) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .detail {
      font-family: $f-pn;
      font-size: 14px;
      line-height: 20px;
      opacity: .5;
      @media screen and (max-width:$md-max) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .action-wrapper {
    width: 100%;
    text-align: center;
  }

  .action {
    display: inline-block;
    margin-top: 55px;
    text-align: center;
    background: $primary-orange;
    color: $white;
    border-radius: 40px;
    padding: 12px 40px;
    @include bg-hover;
    span {
      font-family: $f-mn;
      font-size: 16px;
      line-height: 24px;
      font-weight: 100;
    }
    &:hover{
      background-color: $blue;
    }
  }
}



